body {
  padding-top: 70px;
}
body>div.container {
  width: 80%;
  margin: auto;
}
 H1 {
   color:Blue; 
   text-align:Center;
   font-family:verdana;
   font-weight:Bold
   font-size:40px;
}

<H1> Gareth Wilson Website</h1>
